<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href='css/home.css'>
    lubie placki!
   


</head>
<body>
    <div id="messageBox" class="message-box"></div>
    <div id="board">GRE ROZPOCZYNA ⦾</div>  
<div id="btns">   
    
        <table>
                <button onclick=changePlayer()>ZMIEŃ GRACZA</button>
            <button onclick=location.reload()>NOWA GRA</button>   
              
            <tr>
	<td id="t1" data-position='0'></td>	<td id="t2" data-position=1></td>  <td id="t3" data-position=2></td>
</tr>
<tr>
	<td id="t4" data-position=3></td>	<td id="t5" data-position=4></td>  <td id="t6" data-position=5></td>
</tr>
<tr>
	<td id="t7" data-position=6></td>	<td id="t8" data-position=7></td>  <td id="t9" data-position=8></td>
</tr>
</table>
</div>







<script src='script/script.js'></script>
</body>
</html>