<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>

    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div class="form-container-for-container">
    <div class="form-container">
        <h2><hr>LOGIN<hr></h2>
        
        <form action="/login" method="post">
            <div class="form-group">
                <label for="name"><hr>Name:<hr></label>
                <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password"><hr>Password:<hr></label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="submit-btn">SUBMIT</button>
        </form>
        <p><hr>Don't have an account? <a href="/signup">Signup</a><hr></p>
    </div>
</div>    

</body>
</html>