*{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(201, 212, 208);
    
}
td{
    border: 2px solid rgb(8, 8, 8);
    border-radius: 5% 5% 5% 5%;
    width: 180px;
    height: 180px;
    background-image: url(/img/tło.jpg);
    background-size: cover;
}
td:hover{
    background-image: none;
    
}
#board {
    border: 5px double rgb(23, 13, 11);
    width: 540px;
    height: 60px;
    background-color: rgb(137, 102, 226);
    opacity: 80%;
    border-radius: 5% 5% 5% 5%;
    text-align: center;
    font-size: 40px;
}

button{
    background-image: url(/img/tło.jpg);
    border-radius: 5% 5% 5% 5%;
    border: 1px double rgb(23, 13, 11);
    width: 273px;
    height: 80px;
    font-size: 30px;
    visibility:visible;
    margin-bottom: auto;
}
button:hover{
    background-image: none;
    background-color: rgb(240, 240, 240);
}
#btns{
    background-color: rgb(227, 229, 156);
    margin: auto auto;
    width: 550px;
    height: auto;
}
   
    

    
    
